In [1]:
import pandas as pd

# 创建Series

In [2]:
s = pd.Series(['banana',42])
s

0    banana
1        42
dtype: object

In [3]:
s1 = pd.Series(['lilbalala','lishuaihui'],index = ['AKA','Name'])
s1

AKA      lilbalala
Name    lishuaihui
dtype: object

# 创建DataFrame

In [4]:
name_list = pd.DataFrame(data = {'姓名':['张三','李四','王五'],'性别':['男','女','男'],'成绩':[96,35,74]}, columns = ['姓名','性别','成绩'])
name_list

   姓名 性别  成绩
0  张三  男  96
1  李四  女  35
2  王五  男  74

# Series常用操作

In [5]:
data = pd.read_csv(r'E:\数据分析\4.26第一天课程资料\数据\nobel_prizes.csv',index_col = 'id')
data

,year,category,overallMotivation,firstname,surname,motivation,share
id,,,,,,,
941,2017,physics,NaN,Rainer,Weiss,"""for decisive contributions to the LIGO detect...",2
942,2017,physics,NaN,Barry C.,Barish,"""for decisive contributions to the LIGO detect...",4
943,2017,physics,NaN,Kip S.,Thorne,"""for decisive contributions to the LIGO detect...",4
944,2017,chemistry,NaN,Jacques,Dubochet,"""for developing cryo-electron microscopy for t...",3
945,2017,chemistry,NaN,Joachim,Frank,"""for developing cryo-electron microscopy for t...",3
...,...,...,...,...,...,...,...
160,1901,chemistry,NaN,Jacobus Henricus,van 't Hoff,"""in recognition of the extraordinary services ...",1
293,1901,medicine,NaN,Emil Adolf,von Behring,"""for his work on serum therapy, especially its...",1
569,1901,literature,NaN,Sully,Prudhomme,"""in special recognition of his poetic composit...",1
462,1901,peace,NaN,Jean Henry,Dunant,NaN,2
463,1901,peace,NaN,Frédéric,Passy,NaN,2

## Series常用属性

In [6]:
data.loc[293]

year                                                              1901
category                                                      medicine
overallMotivation                                                  NaN
firstname                                                   Emil Adolf
surname                                                    von Behring
motivation           "for his work on serum therapy, especially its...
share                                                                1
Name: 293, dtype: object

In [7]:
data.iloc[2]

year                                                              2017
category                                                       physics
overallMotivation                                                  NaN
firstname                                                       Kip S.
surname                                                         Thorne
motivation           "for decisive contributions to the LIGO detect...
share                                                                4
Name: 943, dtype: object

In [8]:
share = data['share']
share

id
941    2
942    4
943    4
944    3
945    3
      ..
160    1
293    1
569    1
462    2
463    2
Name: share, Length: 923, dtype: int64

In [9]:
share.max()

4

In [10]:
share.mean()

1.982665222101842

In [11]:
share.value_counts()

share
1    347
2    307
3    207
4     62
Name: count, dtype: int64

In [12]:
movie = pd.read_csv(r'E:\数据分析\4.26第一天课程资料\数据\movie.csv')
movie

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

## Series的常用方法

In [13]:
director = movie['director_name']

In [14]:
director.value_counts()

director_name
Steven Spielberg    26
Woody Allen         22
Martin Scorsese     20
Clint Eastwood      20
Ridley Scott        16
                    ..
John Putch           1
Luca Guadagnino      1
Sam Fell             1
Dan Fogelman         1
Daniel Hsia          1
Name: count, Length: 2397, dtype: int64

In [15]:
director.describe()

count                 4814
unique                2397
top       Steven Spielberg
freq                    26
Name: director_name, dtype: object

In [16]:
movie['duration'].describe()
#%25

count    4901.000000
mean      107.090798
std        25.286015
min         7.000000
25%        93.000000
50%       103.000000
75%       118.000000
max       511.000000
Name: duration, dtype: float64

In [17]:
scientists = pd.read_csv(r'E:\数据分析\4.26第一天课程资料\数据\scientists.csv')
scientists

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [18]:
gt_mean = scientists['Age']>scientists['Age'].mean()
gt_mean

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

## 使用布尔索引进行数据筛选

In [19]:
scientists['Name'][gt_mean]

1          William Gosset
2    Florence Nightingale
3             Marie Curie
7            Johann Gauss
Name: Name, dtype: object

In [20]:
scientists.max()

Name          William Gosset
Born              1920-07-25
Died              1964-04-14
Age                       90
Occupation      Statistician
dtype: object

In [21]:
movie.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

## 运算

In [22]:
add = movie+movie
add

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,ColorColor,James CameronJames Cameron,1446.0,356.0,0.0,1710.0,Joel David MooreJoel David Moore,2000.0,1.521012e+09,Action|Adventure|Fantasy|Sci-FiAction|Adventur...,...,6108.0,EnglishEnglish,USAUSA,PG-13PG-13,474000000.0,4018.0,1872.0,15.8,3.56,66000
1,ColorColor,Gore VerbinskiGore Verbinski,604.0,338.0,1126.0,2000.0,Orlando BloomOrlando Bloom,80000.0,6.188083e+08,Action|Adventure|FantasyAction|Adventure|Fantasy,...,2476.0,EnglishEnglish,USAUSA,PG-13PG-13,600000000.0,4014.0,10000.0,14.2,4.70,0
2,ColorColor,Sam MendesSam Mendes,1204.0,296.0,0.0,322.0,Rory KinnearRory Kinnear,22000.0,4.001484e+08,Action|Adventure|ThrillerAction|Adventure|Thri...,...,1988.0,EnglishEnglish,UKUK,PG-13PG-13,490000000.0,4030.0,786.0,13.6,4.70,170000
3,ColorColor,Christopher NolanChristopher Nolan,1626.0,328.0,44000.0,46000.0,Christian BaleChristian Bale,54000.0,8.962613e+08,Action|ThrillerAction|Thriller,...,5402.0,EnglishEnglish,USAUSA,PG-13PG-13,500000000.0,4024.0,46000.0,17.0,4.70,328000
4,NaN,Doug WalkerDoug Walker,NaN,NaN,262.0,NaN,Rob WalkerRob Walker,262.0,NaN,DocumentaryDocumentary,...,NaN,NaN,NaN,NaN,NaN,NaN,24.0,14.2,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,ColorColor,Scott SmithScott Smith,2.0,174.0,4.0,636.0,Daphne ZunigaDaphne Zuniga,1274.0,NaN,Comedy|DramaComedy|Drama,...,12.0,EnglishEnglish,CanadaCanada,NaN,NaN,4026.0,940.0,15.4,NaN,168
4912,ColorColor,NaN,86.0,86.0,NaN,638.0,Valorie CurryValorie Curry,1682.0,NaN,Crime|Drama|Mystery|ThrillerCrime|Drama|Myster...,...,718.0,EnglishEnglish,USAUSA,TV-14TV-14,NaN,NaN,1186.0,15.0,32.00,64000
4913,ColorColor,Benjamin RoberdsBenjamin Roberds,26.0,152.0,0.0,0.0,Maxwell MoodyMaxwell Moody,0.0,NaN,Drama|Horror|ThrillerDrama|Horror|Thriller,...,6.0,EnglishEnglish,USAUSA,NaN,2800.0,4026.0,0.0,12.6,NaN,32
4914,ColorColor,Daniel HsiaDaniel Hsia,28.0,200.0,0.0,978.0,Daniel HenneyDaniel Henney,1892.0,2.088600e+04,Comedy|Drama|RomanceComedy|Drama|Romance,...,18.0,EnglishEnglish,USAUSA,PG-13PG-13,NaN,4024.0,1438.0,12.6,4.70,1320
4915,ColorColor,Jon GunnJon Gunn,86.0,180.0,32.0,32.0,Brian HerzlingerBrian Herzlinger,172.0,1.704440e+05,DocumentaryDocumentary,...,168.0,EnglishEnglish,USAUSA,PGPG,2200.0,4008.0,46.0,13.2,3.70,912

# DataFrame修改行列索引

## 给行索引命名

In [29]:
movie = pd.read_csv(r'E:\develop\数据\movie.csv')
movie.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [34]:
movie.reset_index()

,index,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
4912,4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
4913,4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
4914,4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
4915,4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [42]:
movie = movie.reset_index()
movie

,duration,color,director_name,num_critic_for_reviews,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,178.0,Color,James Cameron,723.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,169.0,Color,Gore Verbinski,302.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,148.0,Color,Sam Mendes,602.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,164.0,Color,Christopher Nolan,813.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,NaN,Doug Walker,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,87.0,Color,Scott Smith,1.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
4912,43.0,Color,NaN,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
4913,76.0,Color,Benjamin Roberds,13.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
4914,100.0,Color,Daniel Hsia,14.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
4915,90.0,Color,Jon Gunn,43.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

## 修改列名

In [47]:
movie.columns

Index(['duration', 'color', 'director_name', 'num_critic_for_reviews',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [51]:
new_column = ['时长', 'color', '导演名字', 'num_critic_for_reviews',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes']

In [55]:
movie.columns = new_column
movie

,时长,color,导演名字,num_critic_for_reviews,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,178.0,Color,James Cameron,723.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,169.0,Color,Gore Verbinski,302.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,148.0,Color,Sam Mendes,602.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,164.0,Color,Christopher Nolan,813.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,NaN,Doug Walker,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,87.0,Color,Scott Smith,1.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
4912,43.0,Color,NaN,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
4913,76.0,Color,Benjamin Roberds,13.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
4914,100.0,Color,Daniel Hsia,14.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
4915,90.0,Color,Jon Gunn,43.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

## 使用rename方式修改

In [58]:
movie.head()

,时长,color,导演名字,num_critic_for_reviews,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,178.0,Color,James Cameron,723.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,169.0,Color,Gore Verbinski,302.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,148.0,Color,Sam Mendes,602.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,164.0,Color,Christopher Nolan,813.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,NaN,Doug Walker,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [65]:
movie.rename(index={0:'第一',1:'第二'},columns={'color':'色彩'},inplace = True)

In [66]:
movie.head()

,时长,色彩,导演名字,num_critic_for_reviews,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
第一,178.0,Color,James Cameron,723.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
第二,169.0,Color,Gore Verbinski,302.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,148.0,Color,Sam Mendes,602.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,164.0,Color,Christopher Nolan,813.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,NaN,Doug Walker,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0